body,html {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.heading {
    text-align: center;
    font-family: sans-serif;
    height: 90px;
    margin: 0px;
    border: 0px;
    background-color: darkgray;
    color: white;
}

.heading h1 {
    padding: 30px;
    margin: 0px;
    text-align: center;
}

